In [2]:
import pandas as pd

In [3]:
data_all = []
for i in range(4):
    data = pd.read_csv('netflix/combined_data_' + str(i+1)+'.txt', header = None, names = ['Cust_Id', 'Rating'], usecols = [0,1])
    data_all.append(data)

MemoryError: Unable to allocate 206. MiB for an array with shape (1, 26982302) and data type object

In [3]:
df = pd.concat(data_all)

In [4]:
import numpy as np
df.index = np.arange(0,len(df))
print('Full dataset shape: {}'.format(df.shape))
print('-Dataset examples-')
print(df.iloc[::5000000, :])

Full dataset shape: (100498277, 2)
-Dataset examples-
           Cust_Id  Rating
0               1:     NaN
5000000    2560324     4.0
10000000   2271935     2.0
15000000   1921803     2.0
20000000   1933327     3.0
25000000   1465002     3.0
30000000    961023     4.0
35000000   1372532     5.0
40000000    854274     5.0
45000000    116334     3.0
50000000    768483     3.0
55000000   1331144     5.0
60000000   1609324     2.0
65000000   1699240     3.0
70000000   1776418     4.0
75000000   1643826     5.0
80000000    932047     4.0
85000000   2292868     4.0
90000000    932191     4.0
95000000   1815101     3.0
100000000   872339     4.0

In [ ]:
df.shape

In [ ]:
import numpy as np
df_nan = pd.DataFrame(pd.isnull(df.Rating))
df_nan = df_nan[df_nan['Rating'] == True]
df_nan = df_nan.reset_index()

movie_np = []
movie_id = 1

for i,j in zip(df_nan['index'][1:],df_nan['index'][:-1]):
    # numpy approach
    temp = np.full((1,np.abs(i-j-1)), movie_id)
    movie_np = np.append(movie_np, temp)
    movie_id += 1

# Account for last record and corresponding length
# numpy approach
last_record = np.full((1,len(df) - df_nan.iloc[-1, 0] - 1),movie_id)
movie_np = np.append(movie_np, last_record)

In [ ]:
df = df[pd.notnull(df['Rating'])]

df['Movie_Id'] = movie_np.astype(int)
df['Cust_Id'] = df['Cust_Id'].astype(int)
print('-Dataset examples-')
print(df.sample(3))

In [ ]:
df.to_csv('/srv/aprosvetov/netflix/data_prep.csv', sep=';', index = None)

In [5]:
import pandas as pd
df = pd.read_csv('/srv/aprosvetov/netflix/data_prep.csv', sep=';')

In [6]:
df.head()

   Cust_Id  Rating  Movie_Id
0  1488844     3.0         1
1   822109     5.0         1
2   885013     4.0         1
3    30878     4.0         1
4   823519     3.0         1

In [7]:
good = df[df['Rating']==5].groupby('Cust_Id')['Movie_Id'].apply(lambda r: ' '.join([str(A) for A in r]))

In [8]:
good.head()

Cust_Id
6     175 457 886 1467 2372 2452 2782 3290 4043 4633...
7     8 30 83 175 257 283 285 313 357 457 458 468 50...
8     1202 1799 1905 2186 3610 3925 4306 5054 5317 5...
10    473 985 1542 1905 2172 3124 3371 3962 4043 430...
25                4432 6786 7605 9326 10643 15107 15270
Name: Movie_Id, dtype: object

In [9]:
import apyori

In [23]:
association_rules = apyori.apriori(good.apply(lambda r: r.split(' ')), 
                                   min_support=0.04, 
                                   min_confidence=0.1, min_lift=2, 
                                   min_length=2)

In [11]:
association_rules

In [24]:
asr_df = pd.DataFrame(columns = ['from', 'to', 'confidence', 'support', 'lift'])
for item in association_rules:
    pair = item[0] 
    items = [x for x in pair]
    asr_df.loc[len(asr_df), :] =  ' '.join(list(item[2][0][0])), \
                                  ' '.join(list(item[2][0][1])),\
                                  item[2][0][2], item[1], item[2][0][3]

In [25]:
asr_df

,from,to,confidence,support,lift
0,10042,10820,0.266215,0.0415732,4.11022
1,10042,10947,0.351478,0.0548881,2.42194
2,10042,11064,0.348135,0.0543661,2.3007
3,10042,11089,0.331616,0.0517864,2.48827
4,10042,11283,0.454613,0.0709941,2.20623
5,10042,11521,0.552044,0.0862093,2.65123
6,10042,11781,0.441243,0.0689062,4.69159
7,10042,12293,0.391395,0.0611217,2.64145
8,10042,12870,0.349931,0.0546465,2.67333
9,10042,13728,0.379793,0.0593099,2.53091
10,10042,14240,0.540041,0.0843349,2.69783
11,10042,14358,0.258785,0.0404128,2.98405
12,10042,14550,0.51779,0.08086,2.52292
13,10042,14621,0.363122,0.0567064,2.52818
14,10042,14691,0.432265,0.0675041,2.83864
15,10042,14961,0.405649,0.0633477,3.25356
16,10042,16265,0.46587,0.072752,3.89288
17,10042,16384,0.277859,0.0433915,2.78728
18,10042,16954,0.650884,0.101644,4.04759
19,10042,17157,0.37489,0.0585441,2.63828
20,10042,1905,0.417265,0.0651617,2.34347
21,10042,2452,0.552293,0.0862481,2.70511
22,10042,2782,0.420981,0.0657419,2.74297
23,10042,2862,0.377776,0.0589949,2.79273
24,10042,3938,0.299434,0.0467607,2.13721
25,10042,3962,0.406436,0.0634706,2.37178
26,10042,4306,0.400843,0.0625971,2.48478
27,10042,5582,0.50797,0.0793264,3.81042
28,10042,5732,0.259641,0.0405465,2.69268
29,10042,5926,0.263066,0.0410814,2.36383
...,...,...,...,...,...
1993,14240 5582 2452 7057 16265,7230,0.9478,0.0449208,7.63059
1994,14240 5582 2452 7057 16265,9628,0.871342,0.0412971,7.44395
1995,14240 5582 2452 16265 7230,9628,0.869615,0.0408851,7.42919
1996,14240 2452 7057 16265 7230,9628,0.838198,0.0410081,7.16079
1997,14240 5582 7057 16265 7230,9628,0.87127,0.0420736,7.44333
1998,14240 5582 2452 7057 7230,9628,0.816322,0.0443363,6.97391
1999,7057 14961 2452 5582 16265,7230,0.957563,0.0430248,7.70919
2000,7057 14961 5582 16265 7230,9628,0.869726,0.041213,7.43014
2001,7057 14961 2452 5582 7230,9628,0.816024,0.0422677,6.97136
2002,7057 5582 2452 16265 7230,9628,0.869187,0.0405594,7.42554
2003,14961 11521 10042 7057 2452 14240,7230,0.956165,0.0446965,7.69793
2004,14961 11521 7057 2452 14240 14550,7230,0.948903,0.0425395,7.63947
2005,14961 11521 7057 14691 2452 14240,7230,0.951504,0.0418126,7.66042
2006,14961 11521 5582 2452 14240 16265,7057,0.943508,0.0421491,7.54481
2007,14961 11521 5582 2452 14240 16265,7230,0.931196,0.0415991,7.49692
2008,14961 11521 7057 2452 14240 16265,7230,0.95882,0.0439437,7.71931
2009,14961 11521 7057 5582 14240 16265,7230,0.956957,0.0422958,7.70431
2010,14961 11521 7057 5582 2452 14240,7230,0.955279,0.0483784,7.69081
2011,14961 11521 7057 5582 2452 14240,9628,0.822096,0.0416336,7.02324
2012,14961 11521 5582 2452 14240 7230,9628,0.821557,0.0409045,7.01863
2013,14961 11521 7057 2452 14240 7230,9628,0.552651,0.0432319,4.72134
2014,14961 11521 7057 5582 14240 7230,9628,0.821792,0.0416465,7.02064
2015,11521 7057 5582 2452 14240 16265,7230,0.950141,0.0435705,7.64944
2016,11521 7057 5582 2452 14240 16265,9628,0.874553,0.0401043,7.47138
2017,11521 7057 5582 2452 14240 7230,9628,0.820127,0.0430658,7.00642
2018,14961 11521 7057 5582 2452 16265,7230,0.960066,0.0414848,7.72934
2019,14961 11521 7057 5582 2452 7230,9628,0.820754,0.0407902,7.01177
2020,14961 7057 5582 2452 14240 16265,7230,0.95994,0.0417112,7.72833
2021,14961 7057 5582 2452 14240 7230,9628,0.819838,0.0409498,7.00395
2022,14961 11521 7057 5582 2452 14240 16265,7230,0.961517,0.0405271,7.74102

In [26]:
asr_df.sort_values('lift').tail(10)

,from,to,confidence,support,lift
1982,14240 14961 2452 7057 16265,7230,0.957116,0.0453004,7.70559
1999,7057 14961 2452 5582 16265,7230,0.957563,0.0430248,7.70919
2008,14961 11521 7057 2452 14240 16265,7230,0.95882,0.0439437,7.71931
2020,14961 7057 5582 2452 14240 16265,7230,0.95994,0.0417112,7.72833
2018,14961 11521 7057 5582 2452 16265,7230,0.960066,0.0414848,7.72934
2022,14961 11521 7057 5582 2452 14240 16265,7230,0.961517,0.0405271,7.74102
143,11443,17627,0.734164,0.0657225,7.95834
764,11443 11521,17627,0.790981,0.041653,8.57423
766,11443 12338,17627,0.854732,0.0439243,9.2653
313,14302,16147,0.741323,0.0403588,12.7193

In [18]:
titles = pd.read_csv('movie_titles.csv', encoding = "ISO-8859-1", 
                     header = None, 
                     names = ['Movie_Id', 'Year', 'Name'])

In [19]:
def get_rule_title(rule):
    print(titles[titles.Movie_Id.isin(rule['from'].split(' '))]['Name'].values)
    print('----------->')
    print(titles[titles.Movie_Id == int(rule['to'])]['Name'].values)

In [27]:
get_rule_title(asr_df.loc[2022])

['Lord of the Rings: The Fellowship of the Ring'
 'Star Wars: Episode V: The Empire Strikes Back'
 'Lord of the Rings: The Two Towers: Extended Edition'
 'Lord of the Rings: The Two Towers'
 'Lord of the Rings: The Return of the King'
 'Lord of the Rings: The Return of the King: Extended Edition'
 'Star Wars: Episode IV: A New Hope']
----------->
['The Lord of the Rings: The Fellowship of the Ring: Extended Edition']

In [ ]:
get_rule_title(asr_df.sample(1).iloc[0])

In [ ]:
good.iloc[14]

In [28]:
j = 159992

In [29]:
titles[titles.Movie_Id.isin(good.iloc[j].split(' '))]['Name']

1144     The Wedding Planner
2151         What Women Want
5316       Miss Congeniality
6286            Pretty Woman
6385              Sister Act
7233            Men of Honor
10358          Runaway Bride
11148      Maid in Manhattan
13049       Two Weeks Notice
15581     Sweet Home Alabama
Name: Name, dtype: object

In [30]:
def print_rule_title(rule):
    return (titles[titles.Movie_Id == int(rule['to'])]['Name'].values)
    

result = []
for A in asr_df.index:
    if len(set(good.iloc[j].split(' ')) & set(asr_df['from'].loc[A].split(' '))) == len(asr_df['from'].loc[A].split(' ')):
        result.append(print_rule_title(asr_df.loc[A])[0])
print(set(result))

{'Dirty Dancing', 'Pretty Woman'}